.DivMain {
    display: flex;
    height: 100%;
    width: 100%;
}

.TagsDiv {
    display: flex;
    gap: 1.5%;

}

#Layout {
    margin-top: -20px;
    padding: 0px;
    height: 86vh;
    width: 100%;
}