#Banner {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 13%;
    width: 100vw;
    background-image: url("Frontend-InventariosAgriculturaDesarrolloRural\GestionInventarioSEDAGRO\dist\Assets\Banner-fondo-BLE6Uqij.png");
    background-size: contain;
    background-position: center;
    margin: 0px;

    img {
        margin-top: 1%;
        align-self: center;
        height: 180%;
        width: 100%;
        object-fit: contain;
    }
}