div {
    margin: 0px;
}

html,
body {
    margin: 0;
    margin-top: 8vh;
}

header {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    z-index: 1000;

    div {
        display: flex;
        background-image: url("Frontend-InventariosAgriculturaDesarrolloRural\GestionInventarioSEDAGRO\dist\Assets\Banner-fondo-BLE6Uqij.png");
        background-size: contain;
        background-position: center;
        height: 12vh;
        width: 100%;
        margin: 0;
    }

    img {
        margin-top: 1%;
        align-self: center;
        height: 180%;
        width: 100%;
        object-fit: contain;
    }
}

@font-face {
    font-family: 'Cherry Swash';
    src: url('./assets/Fonts/CherrySwash-Regular.woff') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('./assets/Fonts/Roboto-Regular.woff') format('truetype');
}

.cherry-swash-regular {
    font-family: "", serif;
    font-weight: 400;
    font-style: normal;
}

.Roboto {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
}

.cherry-swash-bold {
    font-family: "Cherry Swash", serif;
    font-weight: 700;
    font-style: normal;
}